*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
.colorchange{
    color:#0065FE;
}

nav{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 12%;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo2{
    margin-left: 6px;
}
.logo h1{
    color:#0065FE;
    margin-left: 6px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav a {
    color: #141414;
}
.nav-button{
    margin-left:12px;
    padding: 12px 24px;
    border:none;
    background-color: #0065FE;
    border-radius: 100px;
    color: white;
}

.blog{
    width:100%;
    text-align: center;
}
.blog h1{
    margin-top: 4%;
    font-size: 48px;
    font-weight: 400px;
}
.spacing{
    line-height: 120px;
}
.blog p{
    margin-top: 12px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
}
.blog button{
    width: 120px;
    padding: 12px 24px;
    border:none;
    background-color: #0065FE;
    border-radius: 100px;
    color: white;
    margin-right: 40px;
}

.framecontainer{
    width: 900px;
    height: 350px;
    margin-left: 25%;
}
.frame{
    display: inline-flex;
    padding: 80px 60px;
}
.ellipsecontainer{
    width: 100%;
    flex-shrink: 0;
}
.ellipseimg{
    padding: 20px 60px;
    margin-left: 18%;
}
.section3{
    background-color: #F9FBFD;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    height:220px;
}
.motto{
    width: 25%;
    font-size: 24px;
    margin-left: 8%;
    
}
.numbers{
    width: 60%;
    display: flex; 
    justify-content: space-evenly;
    margin-right: 5%;
}
 .section4{
    width: 1200px;
    height: 500px;
    display: flex;
    margin: 5rem auto 0 10rem; 
 }
 .logotext{
    display: flex;
    margin: -20px;
    margin-bottom: 5px;
 }
 .logotext h2{
    padding-left: 5px;
 }
 
.div1section4{
    width: 35%;
    margin: 20px;   
}
.div1section4 p{
    line-height: 28px;
}
.div2section4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
} 

.logostyling{
    padding-bottom: 30px;
}

.section5{
    width: 100%;
    height: 900px;
}
.container5{
max-width: 800px;
height: 700px;
margin: auto;
margin-top: 30px;  
}
.head5 p{
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 60px;
}
.tables{
    display: flex;
}

.h2style{
    padding: 24px 0;
}
.table1{
    height: 400px;
    width: 33.3%;
    border-radius: 12px;
    border: 0.5px solid #005AE2;
    text-align:center;
}
.table2{
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%);
    height: 500px;
    width: 33.3%;
    color: #fff;
    border-radius: 12px;
    text-align: center;
}
.table-content{
    display: flex;
    max-width: fit-content;
    margin-left: 40px;
    justify-content:flex-start;
    text-align:center;
    padding:12px 0px; 
}
.section5-button{
    border: none;
    display: flex;
    justify-content: center;
    display: flex;
    padding-top: 40px;
}

.button1{
    color: #0065FE;
    width: 180px;
    border:1px solid #0065FE;
    border-radius: 100px;
    padding: 12px 24px;
    background-color: #fff;
}
.button2{
    color: #fff;
    width: 180px;
    border: none;
    border-radius: 100px;
    background-color: #0065FE;
    padding: 12px 24px;
 }
.button-space{
    padding-left: 8px;
}

.section7{
    width: 100%;
    height: 900px; 
}
.header7{
    display: flex;
    justify-content: center;  
}
.header7 h1{
    padding-left: 8px;
    font-size: 30px;
    line-height: 32px;
}
.container7{
    max-width: 800px;
    height: 750px;
    margin: auto;
    margin-top: 30px;  
}
.info{
    display: flex;
    justify-content: space-between;
}
.info p{
    padding: 16px;
    font-size: 16px;    
}

.section8{
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%);
}
.container8{
    max-width: 800px;
    height: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 100px;
}
.container8 h1{
    
    font-size: 32px;
    padding-bottom: 40px;
    color: #fff;
}
.container8 button{
    color: #fff;
    width: 180px;
    border: none;
    border-radius: 100px;
    background-color: #005AE2;
    padding: 12px 24px;
    display: block;
    margin: auto;   
}

.section9{
    width: 1200px;
    height: 400px;
    display: flex;
    margin: 5rem auto 0 10rem; 
}
#div1section9{
    width: 20%;
    margin: 20px;   
}
.first-logos{
    display: flex;
    padding-bottom: 40px;
}
.logo-spacing{
    padding-left: 8px;
}
.logo-spacing2{
    padding-left: 24px;
}
#div2section9{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
}
.flex-box{
    padding: 0px 12px;
}
.flex-styling1{
    margin-top: 56px;
}
.flex-styling2{
    margin-top: 32px;
}
.flex-styling3{
    margin-top: 50px;
}
.paragraph{
    line-height: 24px;
    font-size: 16px;
    padding-top: 16px;
}
.footer{
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
    margin-bottom: 20px;
    margin-right: 50px;
}
.img-styling{
    padding: 0 8px;
}

